<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <style>
        body {
            padding-top: calc(15% - 3rem);
            padding-left: calc(50% - 3rem);
        }

        a {
            text-align: center;
            font-size: 2rem;
        }
    </style>
</head>
<body>
<div>
    <a href="/parquet">Parquet</a><br/>
    <a href="/parquet-white">Parquet white</a><br/>
    <a href="/parquet-gray">Parquet gray</a><br/>
    <a href="/parquet-burlywood">Parquet burlywood</a><br/>
    <a href="/parquet-orange">Parquet orange</a>
</div>
</body>
</html>