<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#intro">Landing Page</a>
    <ul class="nav nav-pills">
        <li class="nav-item active">
            <a class="nav-link" href="#promo">Преимущества <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#catalog">Каталог</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Почему мы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Консультация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Как мы работаем?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Отзывы</a>
        </li>
    </ul>
</nav>
<main>
    <section id="intro">
        <div class="container">
            <h2>Входные двери с доставкой и установкой за один день</h2>
            <p>г. Симферополь, ул. Глинка 57г <br/>
                г. Севастополь, Фиолентовское шоссе 1А <br/>
                режим работы: 9.00-19.00, суб. 10.00- 15.00</p>
        </div>
    </section>
    <section class="container" id="promo">
        <h1>5 причин выбрать именно нас</h1>
        <ul class="row">
            <li class="col-sm-3 col-md-3 col-lg-2 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 icon-delivery"><p>Доставка и монтаж</p></li>
            <li class="col-sm-3 col-md-3 col-lg-2 icon-mounting"><p>Монтаж за один день</p></li>
            <li class="col-sm-3 col-md-3 col-lg-2 icon-payment"><p>Оплата только после установки</p></li>
            <li class="col-sm-3 col-md-3 col-lg-2 col-sm-offset-2 col-md-offset-3 col-lg-offset-0 icon-guarantee"><p>Гарантия 10 лет</p></li>
            <li class="col-sm-3 col-md-3 col-lg-2 icon-insurance"><p>Страхование в подарок</p></li>
        </ul>
    </section>
    <section class="container" id="catalog">
        <h1>Каталог</h1>
        <ul class="row">
            <li class="col-sm-6 col-md-4 col-lg-3">
                <div>
                    <h2 class="catalog-door-title">Dar Aristocrat</h2>
                    <img src="img/door.jpg" />
                    <span class="catalog-price-old">19 000</span>
                    <span class="catalog-price-new">15 000</span>
                </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
                <div>
                    <h2 class="catalog-door-title">Dar Aristocrat</h2>
                    <img src="img/door.jpg" />
                    <span class="catalog-price-old">19 000</span>
                    <span class="catalog-price-new">15 000</span>
                </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
                <div>
                    <h2 class="catalog-door-title">Dar Aristocrat</h2>
                    <img src="img/door.jpg" />
                    <span class="catalog-price-old">19 000</span>
                    <span class="catalog-price-new">15 000</span>
                </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
                <div>
                    <h2 class="catalog-door-title">Dar Aristocrat</h2>
                    <img src="img/door.jpg" />
                    <span class="catalog-price-old">19 000</span>
                    <span class="catalog-price-new">15 000</span>
                </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
                <div>
                    <h2 class="catalog-door-title">Dar Aristocrat</h2>
                    <img src="img/door.jpg" />
                    <span class="catalog-price-old">19 000</span>
                    <span class="catalog-price-new">15 000</span>
                </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
                <div>
                    <h2 class="catalog-door-title">Dar Aristocrat</h2>
                    <img src="img/door.jpg" />
                    <span class="catalog-price-old">19 000</span>
                    <span class="catalog-price-new">15 000</span>
                </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
                <div>
                    <h2 class="catalog-door-title">Dar Aristocrat</h2>
                    <img src="img/door.jpg" />
                    <span class="catalog-price-old">19 000</span>
                    <span class="catalog-price-new">15 000</span>
                </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-3">
                <div>
                    <h2 class="catalog-door-title">Dar Aristocrat</h2>
                    <img src="img/door.jpg" />
                    <span class="catalog-price-old">19 000</span>
                    <span class="catalog-price-new">15 000</span>
                </div>
            </li>
        </ul>
    </section>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>

<!--<li class="col-sm-3 col-md-3 col-lg-2 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 icon-delivery"><p>Доставка и монтаж</p></li>
<li class="col-sm-3 col-md-3 col-lg-2 icon-mounting"><p>Монтаж за один день</p></li>
<li class="col-sm-3 col-md-3 col-lg-2 icon-payment"><p>Оплата только после установки</p></li>
<li class="col-sm-3 col-md-3 col-lg-2 col-sm-offset-2 col-md-offset-3 col-lg-offset-0 icon-guarantee"><p>Гарантия 10 лет</p></li>
<li class="col-sm-3 col-md-3 col-lg-2 icon-insurance"><p>Страхование в подарок</p></li>-->