<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parquet Landing Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/parket.css"/>
</head>
<body style="background: rgba(236, 238, 239, 0.5);">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#intro">Landing Parquet Page</a>
    <ul class="nav nav-pills">
        <li class="nav-item active">
            <a class="nav-link" href="#promo">Преимущества <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#service">Наши услуги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#ciclevka-price">Цены на циклевку</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#consultation">Консультация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Как мы работаем?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#reviews">Отзывы</a>
        </li>
    </ul>
</nav>

<main>
    <section id="intro">
        <div class="container">
            <h1>Parquet Landing Page</h1>

            <p>г. Симферополь, ул. Глинка 57г <br/>
                г. Севастополь, Фиолентовское шоссе 1А <br/>
                режим работы: 9.00-19.00, суб. 10.00- 15.00</p>

            <button type="button" class="btn btn-primary-outline btn-lg" data-toggle="modal" data-target="#contactUsModal">
                Оставить заявку
            </button>

        </div>
    </section>
    <section id="intro2">
        <div class="container">
            <h1>Parquet Landing Page</h1>

            <p>г. Симферополь, ул. Глинка 57г <br/>
                г. Севастополь, Фиолентовское шоссе 1А <br/>
                режим работы: 9.00-19.00, суб. 10.00- 15.00</p>

            <button type="button" class="btn btn-primary-outline btn-lg" data-toggle="modal" data-target="#contactUsModal">
                Оставить заявку
            </button>

        </div>
    </section>
    <section id="promo">
        <h1>5 причин выбрать именно нас</h1>
        <ul class="list-inline">
            <li class="icon-delivery"><p>Доставка и монтаж</p></li>
            <li class="icon-mounting"><p>Монтаж за один день</p></li>
            <li class="icon-payment"><p>Оплата только после установки</p></li>
            <li class="icon-guarantee"><p>Гарантия на 10 лет</p></li>
            <li class="icon-insurance"><p>Страхование в подарок</p></li>
        </ul>
    </section>
    <section class="container" id="service">
        <h1>Наши услуги</h1>
        <ul class="list-inline">
            <li class="icon-broshirovanie">Браширование паркета</li>
            <li class="icon-lakirovka">Лакировка паркета</li>
            <li class="icon-shlifovka">Шлифовка паркета и полов</li>
            <li class="icon-parket">Укладка паркета</li>
            <li class="icon-laminat">Укладка ламината</li>
            <li class="icon-remont">Ремонт паркета (реставация паркета)</li>
        </ul>
    </section>
    <section class="container" id="ciclevka">
        <h1>Что такое циклевка?</h1>

        <p><span>Циклевка паркета и циклевка полов</span> в СПб является одним из важных подготовительных этапов работ с
            дощатыми полами, паркетными полами и половыми досками. <br/>
            <span>Пол</span> – это покрытие, настил, на котором осуществляется жизнедеятельность людей или протекают
            производственные процессы, поэтому от состояния пола зависит как здоровье, так и качество выполняемых работ.
            Пол подвергается износу больше всего в вашем доме или офисе.<br/>
            <span class="definition">Циклевка – это процесс восстановления лакового покрытия паркета в несколько этапов: снятие лакового покрытия, шлифовка, устранение щелей, нанесение покрытий на паркет.</span><br/>
            Циклевка паркета и пола это <span>недорого</span> и совсем без пыли.<br/>
            Современная циклевка паркета выполняется практически бесшумно благодаря использованию современных
            паркетно-шлифовальных машин. В процессе работы пыль собирается пылесосом, поэтому после циклевки полов в
            воздухе не остается пыли и опилок.<br/>
            Хорошей альтернативой циклевке может быть укладка паркета. Но покупка нового паркета, это дорогое
            удовольствие. Именно поэтому мы предлагаем более дешевую услугу укладка ламината.<br/>
        </p>
    </section>
    <section class="container" id="ciclevka-price" style="color: black">
        <h1>Цены на циклевку паркета (циклевку пола)</h1>
        <table class="table">
            <tr>
                <th>Услуги</th>
                <th>Цена, руб. за кв.м.</th>
                <th>Примечание</th>
            </tr>
            <tr>
                <td>Шлифовка пола барабанной машиной (СО-206)</td>
                <td>80</td>
                <td>Цена зависит от площади, количества старого покрытия, неровностей и сложности периметра пола.
                    Минимальный заказ 2000 руб.
                </td>
            </tr>
            <tr>
                <td>Комплексная шлифовка пола плоскошлифовальным оборудованием (TRIO, COLUMBUS, VIKING)</td>
                <td>250</td>
                <td>Этот современный метод обработки дает максимально возможное качество. Минимальный заказ 5000 руб.
                </td>
            </tr>
            <tr>
                <td>Частичный ремонт паркета</td>
                <td>от 100</td>
                <td>Выборочная замена некоторых плашек.</td>
            </tr>
            <tr>
                <td>Реставрация</td>
                <td>договорная</td>
                <td></td>
            </tr>
            <tr>
                <td>Подготовка пола под тонирование (комплексная шлифовка)</td>
                <td>300</td>
                <td>Минимальный заказ 6000 руб.</td>
            </tr>
            <tr>
                <td>Строгание досок</td>
                <td>300</td>
                <td>Минимальный заказ 10000 руб.</td>
            </tr>
        </table>
    </section>
    <section class="container" id="consultation">
        <h1>Здесь форма на консультацию</h1>
    </section>
    <section class="container" id="reviews">
        <h1>Отзывы наших клиентов:</h1>
        <ul class="list-inline">
            <li class="col-lg-6">
                <img src="img/clients/tbbt1.jpg" class="img-rounded"/>

                <div class="col-lg-8">
                    <h2>Леонард</h2>
                    <span>г.Москва, физик</span>

                    <p>«Спасибо за хорошие двери, адекватные цены, приятный голос оператора, и особенно, за установку в
                        выходной день!!! P.S. Вот бы и монтажники у вас с такими же голосами были как у оператора Ани на
                        приеме заявок)))»</p>
                </div>
            </li>
            <li class="col-lg-6">
                <img src="img/clients/tbbt2.jpg" class="img-rounded"/>

                <div class="col-lg-8">
                    <h2>Говард</h2>
                    <span>г.Екатеринбург, инженер</span>

                    <p>«Всегда боялась заказывать что-то в интернете. Думала, что обманут, или оплатишь, а привезут не
                        то, что на картинке. Но очень уж понравилась модель двери "Океан". К тому же менеджер сказала,
                        что оплата только после установки. И я решилась. Знаете, все хорошо: приехал специалист, все
                        измерил и на следующий день мне поставили новую дверь. Дверь красивая и выглядит надежно. Теперь
                        и соседка присматривается.»</p>
                </div>
            </li>
            <li class="col-lg-6">
                <img src="img/clients/tbbt3.jpg" class="img-rounded"/>

                <div class="col-lg-8">
                    <h2>Шелдон</h2>
                    <span>г.Санкт-Петербург, гений</span>

                    <p>«Недавно с женой выбрали именно эту модель "Dar Aristocrat", уж больно симпатичной жене
                        показалась. Да и по своим характеристикам и цене идеально уложилась в наши представления о
                        хорошей стальной входной двери! Отличная дверь! Всем советую!»</p>
                </div>
            </li>
            <li class="col-lg-6">
                <img src="img/clients/tbbt4.jpg" class="img-rounded"/>

                <div class="col-lg-8">
                    <h2>Радж</h2>
                    <span>г.Новосибирск, астроном</span>

                    <p>«Приобрела металлическую дверь АТЛАНТ AS в марте 2012 года
                        Менеджер Анна была очень любезна, очень хорошо проконсультировала меня по железным дверям, как
                        "DAR", так и "АТЛАНТ". Подробно объяснила преимущества и отличия практически всех интересных мне
                        моделей. На следующий день привезли и установили дверь. Никаких проблем не возникло.»</p>
                </div>
            </li>
        </ul>
    </section>
    <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h3 class="contact-title">Свяжитесь с нами</h3>
                </div>
                <div class="modal-body">
                    <!--<form class="modal-form">
                        <fieldset class="form-group">
                            <small>e-mail </small>
                            <input type="email" class="form-control" id="inputEmail" placeholder="введите ваш email">
                        </fieldset>
                        <fieldset class="form-group">
                            <small>телефон </small>
                            <input type="tel" class="form-control" id="inputTel" placeholder="введите ваш телефон">
                        </fieldset>
                        <fieldset class="form-group">
                            <small>имя </small>
                            <input type="text" class="form-control" id="inputName" placeholder="введите ваше имя">
                        </fieldset>
                        <fieldset class="form-group">
                            <small>выберите тип услуги </small>
                            <select class="form-control" id="selectService">
                                <option>Оставить заявку об услугах</option>
                                <option>Браширование паркета</option>
                                <option>Лакировка паркета</option>
                                <option>Шлифовка паркета и полов</option>
                                <option>Укладка паркета</option>
                                <option>Укладка ламината</option>
                                <option>Ремонт паркета (реставация паркета)</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <small>комментарии </small>
                            <textarea class="form-control" id="inputComment" rows="6"></textarea>
                        </fieldset>
                    </form>-->
                    <div class="container">
                        <form id="contact" action="" method="post">
                            <h4>Напишите нам, и мы ответим Вам в течении 24 часов!</h4>
                            <fieldset>
                                <input placeholder="Ваше имя" type="text" tabindex="1" required autofocus>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Ваш Email адресс" type="email" tabindex="2" required>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Ваш телефон" type="tel" tabindex="3" required>
                            </fieldset>
                            <fieldset>
                                <textarea placeholder="Сообщение" tabindex="5" required></textarea>
                            </fieldset>
                            <fieldset>
                                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Отправить</button>
                            </fieldset>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="container">
    <hr/>
    <p>© Landing Parquet Page 2015</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>